/.cipd/
*.pyc
.DS_Store

/depot_tools/.cipd_**
/depot_tools/.versions/
/depot_tools/external_bin/

/v8/buildtools/*/clang-format
/v8/buildtools/*/gn
/v8/buildtools/win/*.exe
/v8/third_party/llvm-build/
